ros_ws/build/
ros_ws/devel/
ros_ws/src/.idea/workspace.xml
ros_ws/src/cmake-build-debug/
.DS_Store
*.pyc
*~
*.mexa64
# james's symlinks :)
cfs.yaml
firm
client
launch # ignore launch symlink
!*ros_ws/*launch* # don't ignore folders with launch in the name
